.DS_Store
app/dist/index.html
app/dist/main.js
app/dist/renderer.js
app/dist/styles.css
builds/*
dist/
test/unit/coverage
test/e2e/reports
selenium-debug.log
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
